<div class="div_frame">
    <div class="div_row">
        <span class="sp_title">KHO XE THÀNH PHẨM NHÀ ĐIỀU HÀNH - KHU VỰC TẦNG HẦM</span></br>
        <span class="sp_title_description">(BMW)</span></br></br>
    </div>
    <div class="zoom_controls">
        <button id="zoomIn">+</button>
        <span id="zoomValue">75%</span>
        <button id="zoomOut">-</button>
    </div>
    <div class="div_Layout">
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
                <th>32</th>
                <th>33</th>
                <th>34</th>
                <th>35</th>
                <th>36</th>
                <th>37</th>
                <th>38</th>
                <th>39</th>
                <th>40</th>
                <th>41</th>
                <th>42</th>
                <th>43</th>
                <th>44</th>
                <th>45</th>
                <th>46</th>
                <th>47</th>
                <th>48</th>
                <th>49</th>
                <th>50</th>
                <th>51</th>
                <th>52</th>
                <th>53</th>
                <th>54</th>
                <th>55</th>
                <th>56</th>
                <th class="column_title_end"></th>
            </thead>
            <tr alt="Dãy A">
                <td class="row_title">A</td>
                <td><div data-alt="A-01"></div></td>
                <td><div data-alt="A-02" id="A-01"></div></td>
                <td><div data-alt="A-03" id="A-02"></div></td>
                <td><div data-alt="A-04" id="A-03"></div></td>
                <td><div data-alt="A-05" id="A-04"></div></td>
                <td><div data-alt="A-06" id="A-05"></div></td>
                <td><div data-alt="A-07" id="A-06"></div></td>
                <td><div data-alt="A-08" id="A-07"></div></td>
                <td><div data-alt="A-09" id="A-08"></div></td>
                <td><div data-alt="A-10" id="A-09"></div></td>
                <td><div data-alt="A-11" id="A-10"></div></td>
                <td><div data-alt="A-12" id="A-11"></div></td>
                <td><div data-alt="A-13" id="A-12"></div></td>
                <td><div data-alt="A-14" id="A-13"></div></td>
                <td><div data-alt="A-15" id="A-14"></div></td>
                <td><div data-alt="A-16" id="A-15"></div></td>
                <td><div data-alt="A-17" id="A-16"></div></td>
                <td><div data-alt="A-18" id="A-17"></div></td>
                <td><div data-alt="A-19" id="A-18"></div></td>
                <td><div data-alt="A-20"><div class="textNotice_x2">Khu vực xe máy</div></div></td>
                <td><div data-alt="A-21"></div></td>
                <td><div data-alt="A-22" id="A-19"></div></td>
                <td><div data-alt="A-23" id="A-20"></div></td>
                <td><div data-alt="A-24" id="A-21"></div></td>
                <td><div data-alt="A-25" id="A-22"></div></td>
                <td><div data-alt="A-26" id="A-23"></div></td>
                <td><div data-alt="A-27" id="A-24"></div></td>
                <td><div data-alt="A-28" id="A-25"></div></td>
                <td><div data-alt="A-29" id="A-26"></div></td>
                <td><div data-alt="A-30" id="A-27"></div></td>
                <td><div data-alt="A-31" id="A-28"></div></td>
                <td><div data-alt="A-32" id="A-29"></div></td>
                <td><div data-alt="A-33" id="A-30"></div></td>
                <td><div data-alt="A-34" id="A-31"></div></td>
                <td><div data-alt="A-35" id="A-32"></div></td>
                <td><div data-alt="A-36" id="A-33"></div></td>
                <td><div data-alt="A-37" id="A-34"></div></td>
                <td><div data-alt="A-38" id="A-35"></div></td>
                <td><div data-alt="A-39" id="A-36"></div></td>
                <td><div data-alt="A-40" id="A-37"></div></td>
                <td><div data-alt="A-41" id="A-38"></div></td>
                <td><div data-alt="A-42" id="A-39"></div></td>
                <td><div data-alt="A-43" id="A-40"></div></td>
                <td><div data-alt="A-44"></div></td>
                <td><div data-alt="A-45"></div></td>
                <td><div data-alt="A-46"></div></td>
                <td><div data-alt="A-47"></div></td>
                <td><div data-alt="A-48"></div></td>
                <td><div data-alt="A-49"></div></td>
                <td><div data-alt="A-50"></div></td>
                <td><div data-alt="A-51"></div></td>
                <td><div data-alt="A-52"></div></td>
                <td><div data-alt="A-53"></div></td>
                <td><div data-alt="A-54"></div></td>
                <td class="row_title"></td>
                <td class="row_title"></td>
                <td class="row_title"></td>
            </tr>
            <tr alt="Dãy trống">
                <td class="row_title"></td>
                <td><div data-alt="B-01"></div></td>
                <td><div data-alt="B-02" class="Sac" id="RuaXe-01"></div></td>
                <td><div data-alt="B-03" class="Sac" id="RuaXe-02"></div></td>
                <td><div data-alt="B-04" class="Sac" id="RuaXe-03"></div></td>
                <td><div data-alt="B-05" class="Sac" id="RuaXe-04"></div></td>
                <td><div data-alt="B-06" class="Sac" id="RuaXe-05"></div></td>
                <td><div data-alt="B-07"></div></td>
                <td><div data-alt="B-08"></div></td>
                <td><div data-alt="B-09"></div></td>
                <td><div data-alt="B-10"></div></td>
                <td><div data-alt="B-11"></div></td>
                <td><div data-alt="B-12"></div></td>
                <td><div data-alt="B-13"></div></td>
                <td><div data-alt="B-14"></div></td>
                <td><div data-alt="B-15"></div></td>
                <td><div data-alt="B-16" id="B-01"></div></td>
                <td><div data-alt="B-17" id="B-02"></div></td>
                <td><div data-alt="B-18" id="B-03"></div></td>
                <td><div data-alt="B-19" id="B-04"></div></td>
                <td><div data-alt="B-20" id="B-05"></div></td>
                <td><div data-alt="B-21" id="B-06"></div></td>
                <td><div data-alt="B-22" id="B-07"></div></td>
                <td><div data-alt="B-23" id="B-08"></div></td>
                <td><div data-alt="B-24" id="B-09"></div></td>
                <td><div data-alt="B-25" id="B-10"></div></td>
                <td><div data-alt="B-26" id="B-11"></div></td>
                <td><div data-alt="B-27"></div></td>
                <td><div data-alt="B-28"></div></td>
                <td><div data-alt="B-29"></div></td>
                <td><div data-alt="B-30"></div></td>
                <td><div data-alt="B-31"></div></td>
                <td><div data-alt="B-32"></div></td>
                <td><div data-alt="B-33"></div></td>
                <td><div data-alt="B-34"></div></td>
                <td><div data-alt="B-35"></div></td>
                <td><div data-alt="B-36"></div></td>
                <td><div data-alt="B-37"></div></td>
                <td><div data-alt="B-38"></div></td>
                <td><div data-alt="B-39"></div></td>
                <td><div data-alt="B-40"></div></td>
                <td><div data-alt="B-41"></div></td>
                <td><div data-alt="B-42"></div></td>
                <td><div data-alt="B-43"></div></td>
                <td><div data-alt="B-44"></div></td>
                <td><div data-alt="B-45"></div></td>
                <td><div data-alt="B-46"></div></td>
                <td><div data-alt="B-47"></div></td>
                <td><div data-alt="B-48"></div></td>
                <td><div data-alt="B-49"></div></td>
                <td><div data-alt="B-50"></div></td>
                <td><div data-alt="B-51"></div></td>
                <td><div data-alt="B-52"></div></td>
                <td><div data-alt="B-53"></div></td>
                <td><div data-alt="B-54"></div></td>
                <td class="row_title"></td>
                <td class="row_title"></td>
                <td class="row_title"></td>
            </tr>            
            <tr alt="Dãy Cuối">
                <td class="row_title">
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-01" id="269"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-02"></div>
                </td>
                <td>
                    <div alt="RoadEnd-03">
                        <div class="arrow_goUp_rotate180"></div>
                    </div>
                </td>
                <td>
                    <div alt="RoadEnd-04">
                        <div class="arrow_goUp"></div>
                    </div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-05"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-06"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-07"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-08"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-09"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-10"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-11"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-12"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-13"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-14"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-15"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-16"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-17"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-18"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-19"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-20"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-21"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-22"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-23"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-24"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-25"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-26"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-27"></div>
                </td>
                <td>
                    <div alt="RoadEnd-28">
                        <div class="arrow_goUp_rotate180"></div>
                    </div>
                </td>
                <td>
                    <div alt="RoadEnd-29">
                        <div class="textNotice_x2">(Lối đi bộ)</div>
                    </div>
                </td>
                <td>
                    <div alt="RoadEnd-30"></div>
                </td>
                <td>
                    <div alt="RoadEnd-31">
                        <div class="arrow_goUp"></div>
                    </div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-32"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-33"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-34"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-35"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-36"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-37"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-38"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-39"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-40"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-41"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-42"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-43"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-44"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-45"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-46"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-47"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-48"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-49"></div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-50">

                    </div>
                </td>
                <td class="row_title">
                    <div alt="RoadEnd-51"></div>
                </td>
                <td>
                    <div alt="RoadEnd-52">
                        <div class="arrow_goUp_rotate180"></div>
                    </div>
                </td>
                <td>
                    <div alt="RoadEnd-53">
                        <div class="arrow_goUp"></div>
                    </div>
                </td>
                <td class="row_title">
                </td>
            </tr>
        </table>
    </div>
</div>