<div class="div_frame">
    <div class="div_row">
        <span class="sp_title"><span style="color: rgb(251, 255, 0);">KHO TẠM </span>KHU VỰC NHẬN XE THÀNH PHẨM -
            <span style="color: rgb(251, 255, 0);">NHÀ MÁY THACO TRUCK</span></span></br>
        <span class="sp_title_description">(Layout không hoàn toàn đúng với thực tế bố trí tại Nhà máy)</span><br><br>
    </div>
    <div class="zoom_controls">
        <button id="zoomIn">+</button>
        <span id="zoomValue">75%</span>
        <button id="zoomOut">-</button>
    </div>
    <div class="div_Layout">
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th class="column_title_end"></th>

            </thead>

            <tr alt="Dãy tạm 1">
                <td class="row_title FontUTM">
                    001 - 020
                </td>
                <td>
                    <div class="empty_Road" id="001"></div>
                </td>
                <td>
                    <div class="empty_Road" id="002"></div>
                </td>
                <td>
                    <div class="empty_Road" id="003"></div>
                </td>
                <td>
                    <div class="empty_Road" id="004"></div>
                </td>
                <td>
                    <div class="empty_Road" id="005"></div>
                </td>
                <td>
                    <div class="empty_Road" id="006"></div>
                </td>
                <td>
                    <div class="empty_Road" id="007"></div>
                </td>
                <td>
                    <div class="empty_Road" id="008"></div>
                </td>
                <td>
                    <div class="empty_Road" id="009"></div>
                </td>
                <td>
                    <div class="empty_Road" id="010"></div>
                </td>
                <td>
                    <div class="empty_Road" id="011"></div>
                </td>
                <td>
                    <div class="empty_Road" id="012"></div>
                </td>
                <td>
                    <div class="empty_Road" id="013"></div>
                </td>
                <td>
                    <div class="empty_Road" id="014"></div>
                </td>
                <td>
                    <div class="empty_Road" id="015"></div>
                </td>
                <td>
                    <div class="empty_Road" id="016"></div>
                </td>
                <td>
                    <div class="empty_Road" id="017"></div>
                </td>
                <td>
                    <div class="empty_Road" id="018"></div>
                </td>
                <td>
                    <div class="empty_Road" id="019"></div>
                </td>
                <td>
                    <div class="empty_Road" id="020"></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 2">
                <td class="row_title FontUTM">
                    021 - 040
                </td>
                <td>
                    <div class="empty_Road" id="021"></div>
                </td>
                <td>
                    <div class="empty_Road" id="022"></div>
                </td>
                <td>
                    <div class="empty_Road" id="023"></div>
                </td>
                <td>
                    <div class="empty_Road" id="024"></div>
                </td>
                <td>
                    <div class="empty_Road" id="025"></div>
                </td>
                <td>
                    <div class="empty_Road" id="026"></div>
                </td>
                <td>
                    <div class="empty_Road" id="027"></div>
                </td>
                <td>
                    <div class="empty_Road" id="028"></div>
                </td>
                <td>
                    <div class="empty_Road" id="029"></div>
                </td>
                <td>
                    <div class="empty_Road" id="030"></div>
                </td>
                <td>
                    <div class="empty_Road" id="031"></div>
                </td>
                <td>
                    <div class="empty_Road" id="032"></div>
                </td>
                <td>
                    <div class="empty_Road" id="033"></div>
                </td>
                <td>
                    <div class="empty_Road" id="034"></div>
                </td>
                <td>
                    <div class="empty_Road" id="035"></div>
                </td>
                <td>
                    <div class="empty_Road" id="036"></div>
                </td>
                <td>
                    <div class="empty_Road" id="037"></div>
                </td>
                <td>
                    <div class="empty_Road" id="038"></div>
                </td>
                <td>
                    <div class="empty_Road" id="039"></div>
                </td>
                <td>
                    <div class="empty_Road" id="040"></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 3">
                <td class="row_title FontUTM">
                    041 - 060
                </td>
                <td>
                    <div class="empty_Road" id="041"></div>
                </td>
                <td>
                    <div class="empty_Road" id="042"></div>
                </td>
                <td>
                    <div class="empty_Road" id="043"></div>
                </td>
                <td>
                    <div class="empty_Road" id="044"></div>
                </td>
                <td>
                    <div class="empty_Road" id="045"></div>
                </td>
                <td>
                    <div class="empty_Road" id="046"></div>
                </td>
                <td>
                    <div class="empty_Road" id="047"></div>
                </td>
                <td>
                    <div class="empty_Road" id="048"></div>
                </td>
                <td>
                    <div class="empty_Road" id="049"></div>
                </td>
                <td>
                    <div class="empty_Road" id="050"></div>
                </td>
                <td>
                    <div class="empty_Road" id="051"></div>
                </td>
                <td>
                    <div class="empty_Road" id="052"></div>
                </td>
                <td>
                    <div class="empty_Road" id="053"></div>
                </td>
                <td>
                    <div class="empty_Road" id="054"></div>
                </td>
                <td>
                    <div class="empty_Road" id="055"></div>
                </td>
                <td>
                    <div class="empty_Road" id="056"></div>
                </td>
                <td>
                    <div class="empty_Road" id="057"></div>
                </td>
                <td>
                    <div class="empty_Road" id="058"></div>
                </td>
                <td>
                    <div class="empty_Road" id="059"></div>
                </td>
                <td>
                    <div class="empty_Road" id="060"></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 4">
                <td class="row_title FontUTM">
                    061 - 080
                </td>
                <td>
                    <div class="empty_Road" id="061"></div>
                </td>
                <td>
                    <div class="empty_Road" id="062"></div>
                </td>
                <td>
                    <div class="empty_Road" id="063"></div>
                </td>
                <td>
                    <div class="empty_Road" id="064"></div>
                </td>
                <td>
                    <div class="empty_Road" id="065"></div>
                </td>
                <td>
                    <div class="empty_Road" id="066"></div>
                </td>
                <td>
                    <div class="empty_Road" id="067"></div>
                </td>
                <td>
                    <div class="empty_Road" id="068"></div>
                </td>
                <td>
                    <div class="empty_Road" id="069"></div>
                </td>
                <td>
                    <div class="empty_Road" id="070"></div>
                </td>
                <td>
                    <div class="empty_Road" id="071"></div>
                </td>
                <td>
                    <div class="empty_Road" id="072"></div>
                </td>
                <td>
                    <div class="empty_Road" id="073"></div>
                </td>
                <td>
                    <div class="empty_Road" id="074"></div>
                </td>
                <td>
                    <div class="empty_Road" id="075"></div>
                </td>
                <td>
                    <div class="empty_Road" id="076"></div>
                </td>
                <td>
                    <div class="empty_Road" id="077"></div>
                </td>
                <td>
                    <div class="empty_Road" id="078"></div>
                </td>
                <td>
                    <div class="empty_Road" id="079"></div>
                </td>
                <td>
                    <div class="empty_Road" id="080"></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 5">
                <td class="row_title FontUTM">
                    081 - 100
                </td>
                <td>
                    <div class="empty_Road" id="081"></div>
                </td>
                <td>
                    <div class="empty_Road" id="082"></div>
                </td>
                <td>
                    <div class="empty_Road" id="083"></div>
                </td>
                <td>
                    <div class="empty_Road" id="084"></div>
                </td>
                <td>
                    <div class="empty_Road" id="085"></div>
                </td>
                <td>
                    <div class="empty_Road" id="086"></div>
                </td>
                <td>
                    <div class="empty_Road" id="087"></div>
                </td>
                <td>
                    <div class="empty_Road" id="088"></div>
                </td>
                <td>
                    <div class="empty_Road" id="089"></div>
                </td>
                <td>
                    <div class="empty_Road" id="090"></div>
                </td>
                <td>
                    <div class="empty_Road" id="091"></div>
                </td>
                <td>
                    <div class="empty_Road" id="092"></div>
                </td>
                <td>
                    <div class="empty_Road" id="093"></div>
                </td>
                <td>
                    <div class="empty_Road" id="094"></div>
                </td>
                <td>
                    <div class="empty_Road" id="095"></div>
                </td>
                <td>
                    <div class="empty_Road" id="096"></div>
                </td>
                <td>
                    <div class="empty_Road" id="097"></div>
                </td>
                <td>
                    <div class="empty_Road" id="098"></div>
                </td>
                <td>
                    <div class="empty_Road" id="099"></div>
                </td>
                <td>
                    <div class="empty_Road" id="100"></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 6">
                <td class="row_title FontUTM">
                    101 - 120
                </td>
                <td>
                    <div class="empty_Road" id="101"></div>
                </td>
                <td>
                    <div class="empty_Road" id="102"></div>
                </td>
                <td>
                    <div class="empty_Road" id="103"></div>
                </td>
                <td>
                    <div class="empty_Road" id="104"></div>
                </td>
                <td>
                    <div class="empty_Road" id="105"></div>
                </td>
                <td>
                    <div class="empty_Road" id="106"></div>
                </td>
                <td>
                    <div class="empty_Road" id="107"></div>
                </td>
                <td>
                    <div class="empty_Road" id="108"></div>
                </td>
                <td>
                    <div class="empty_Road" id="109"></div>
                </td>
                <td>
                    <div class="empty_Road" id="110"></div>
                </td>
                <td>
                    <div class="empty_Road" id="111"></div>
                </td>
                <td>
                    <div class="empty_Road" id="112"></div>
                </td>
                <td>
                    <div class="empty_Road" id="113"></div>
                </td>
                <td>
                    <div class="empty_Road" id="114"></div>
                </td>
                <td>
                    <div class="empty_Road" id="115"></div>
                </td>
                <td>
                    <div class="empty_Road" id="116"></div>
                </td>
                <td>
                    <div class="empty_Road" id="117"></div>
                </td>
                <td>
                    <div class="empty_Road" id="118"></div>
                </td>
                <td>
                    <div class="empty_Road" id="119"></div>
                </td>
                <td>
                    <div class="empty_Road" id="120"></div>
                </td>
                <td class="row_title">
                </td>

            </tr>
            <tr alt="Dãy tạm 7">
                <td class="row_title FontUTM">
                    121 - 140
                </td>
                <td>
                    <div class="empty_Road" id="121"></div>
                </td>
                <td>
                    <div class="empty_Road" id="122"></div>
                </td>
                <td>
                    <div class="empty_Road" id="123"></div>
                </td>
                <td>
                    <div class="empty_Road" id="124"></div>
                </td>
                <td>
                    <div class="empty_Road" id="125"></div>
                </td>
                <td>
                    <div class="empty_Road" id="126"></div>
                </td>
                <td>
                    <div class="empty_Road" id="127"></div>
                </td>
                <td>
                    <div class="empty_Road" id="128"></div>
                </td>
                <td>
                    <div class="empty_Road" id="129"></div>
                </td>
                <td>
                    <div class="empty_Road" id="130"></div>
                </td>
                <td>
                    <div class="empty_Road" id="131"></div>
                </td>
                <td>
                    <div class="empty_Road" id="132"></div>
                </td>
                <td>
                    <div class="empty_Road" id="133"></div>
                </td>
                <td>
                    <div class="empty_Road" id="134"></div>
                </td>
                <td>
                    <div class="empty_Road" id="135"></div>
                </td>
                <td>
                    <div class="empty_Road" id="136"></div>
                </td>
                <td>
                    <div class="empty_Road" id="137"></div>
                </td>
                <td>
                    <div class="empty_Road" id="138"></div>
                </td>
                <td>
                    <div class="empty_Road" id="139"></div>
                </td>
                <td>
                    <div class="empty_Road" id="140"></div>
                </td>
                <td class="row_title">
                </td>

            </tr>
            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_03"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_04"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_05"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_06"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_08"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_09"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_10">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_11"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_12"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_13"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_15"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_16"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_17"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_18"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_19"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_20"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_21"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_22"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_23"></div>
                </td>



            </tr>
        </table>
    </div>
</div>