<div class="div_frame">
    <div class="div_row">
        <span class="sp_title">BÃI XE THÀNH PHẨM TT GNVC - KHU VỰC CHỜ XUẤT XE LỒNG THUÊ NGOÀI</span></br>
        <span class="sp_title_description">(KIA & MAZDA)</span>
    </div>
    <div class="zoom_controls">
        <button id="zoomIn">+</button>
        <span id="zoomValue">75%</span>
        <button id="zoomOut">-</button>
    </div>
    <div class="div_Layout">
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th class="column_title_end"></th>
            </thead>
            <tr alt="Dãy E">
                <td class="row_title">
                    E
                </td>
                <td>
                    <div id="E-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-17"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-18"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-19"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-20"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">

                </td>
            </tr>
            <tr alt="Lối đi">
                <td class="empty_Road"></td>
                <td>
                    <div class="empty_Road" alt="Road01_01">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_02" id="Luong1-001"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_03" id="Luong1-002"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_04" id="Luong1-003"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_05" id="Luong1-004"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_06" id="Luong1-005"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_08">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_09" id="Luong1-006"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_10" id="Luong1-007"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_11" id="Luong1-008"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_12" id="Luong1-009"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road01_13" id="Luong1-010"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_15">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_16"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_17"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_18"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_19"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_20">
                        <div class="arrow_turnBack_rotate90"></div>
                    </div>
                </td>
                <td class="row_title"></td>
            </tr>           
            <tr alt="Dãy D">
                <td class="row_title">
                    D
                </td>
                <td>
                    <div id="D-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-17"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-18"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-19"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-20"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy C">
                <td class="row_title">
                    C
                </td>
                <td>
                    <div id="C-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-17"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-18"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-19"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-20"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Lối đi">
                <td class="empty_Road"></td>
                <td>
                    <div class="empty_Road" alt="Road02_01">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_02" id="Luong2-001"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_03" id="Luong2-002"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_04" id="Luong2-003"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_05" id="Luong2-004"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_06" id="Luong2-005"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_07"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_08">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_09" id="Luong2-006"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_10" id="Luong2-007"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_11" id="Luong2-008"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_12" id="Luong2-009"></div>
                </td>
                <td>
                    <div class="empty_Road h30" alt="Road02_13" id="Luong2-010"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_14"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_15">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_16"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_17"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_18"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_19"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road02_20">
                        <div class="arrow_turnBack_rotate90"></div>
                    </div>
                </td>
                <td class="row_title"></td>
            </tr>   
            <tr alt="Dãy B">
                <td class="row_title">
                    B
                </td>
                <td>
                    <div id="B-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-17"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-18"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-19"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-20"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy A">
                <td class="row_title">
                    A
                </td>
                <td>
                    <div id="A-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-17"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-18"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-19"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-20"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">

                </td>
            </tr>
            <tr alt="Lối đi">
                <td class="empty_Road">

                </td>
                <td>
                    <div class="empty_Road" alt="Road01_01">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_02"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_03"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_04"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_05"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_06"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_08"><div class="arrow_2side_rotate-90"></div></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_09"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_10">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_11"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_12"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_13"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_15"><div class="arrow_2side_rotate-90"></div></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_16"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_17"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_18"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_19"></div>
                </td>
                <td>
                    <div class="empty_Road" alt="Road01_20"><div class="arrow_turnBack_rotate90"></div></div>
                </td>
                <td class="row_title">

                </td>
            </tr>
            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_03"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_04"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_05"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_06"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_08"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_09"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_10">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_11"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_12"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_13"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_15"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_16"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_17"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_18"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_19"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_20"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_end"></div>
                </td>
            </tr>
        </table>

        <div class="div_row">
            <span class="sp_title"></span></br>
            <span class="sp_title_description">(BÃI LƯU TẠM CHỜ XUẤT TRÊN PHẦN MỀM)</span>
        </div>
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th class="column_title_end"></th>
            </thead>
            <tr alt="Dãy tạm 1">
                <td class="row_title FontUTM">
                    Dãy tạm 1
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_17"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_18"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_19"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_20"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">

                </td>
            </tr>
            <tr alt="Dãy tạm 2">
                <td class="row_title FontUTM">
                    Dãy tạm 2
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_21"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_22"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_23"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_24"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_25"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_26"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_27"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_28"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_29"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_30"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_31"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_32"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_33"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_34"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_35"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_36"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_37"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_38"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_39"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_40"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 3">
                <td class="row_title FontUTM">
                    Dãy tạm 3
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_41"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_42"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_43"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_44"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_45"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_46"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_47"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_48"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_49"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_50"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_51"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_52"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_53"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_54"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_55"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_56"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_57"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_58"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_59"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_60"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 4">
                <td class="row_title FontUTM">
                    Dãy tạm 4
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_61"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_62"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_63"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_64"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_65"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_66"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_67"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_68"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_69"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_70"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_71"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_72"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_73"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_74"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_75"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_76"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_77"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_78"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_79"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_80"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 5">
                <td class="row_title FontUTM">
                    Dãy tạm 5
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_61"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_62"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_63"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_64"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_65"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_66"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_67"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_68"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_69"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_70"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_71"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_72"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_73"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_74"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_75"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_76"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_77"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_78"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_79"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_80"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 6">
                <td class="row_title FontUTM">
                    Dãy tạm 6
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_81"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_82"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_83"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_84"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_85"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_86"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_87"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_88"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_89"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_90"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_91"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_92"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_93"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_94"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_95"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_96"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_97"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_98"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_99"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_100"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title"><div class="empty_Road"></div>
                </td>
            </tr>
            <tr alt="Dãy tạm 7">
                <td class="row_title FontUTM">
                    Dãy tạm 7
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_101"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_102"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_103"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_104"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_105"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_106"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_107"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_108"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_109"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_110"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_111"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_112"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_113"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_114"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_115"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_116"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_117"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_118"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_119"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="VT_Tam_120"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title"><div class="empty_Road"></div>
                </td>
        </table>
    </div>
</div>