<div class="div_frame">
    <div class="div_row">
        <span class="sp_title"><span style="color: rgb(251, 255, 0);">KHO TẠM </span>KHU VỰC NHẬN XE THÀNH PHẨM -
            <span style="color: rgb(251, 255, 0);">NHÀ MÁY THACO KIA</span></span></br>
        <span class="sp_title_description">(Layout không hoàn toàn đúng với thực tế bố trí tại Nhà máy)</span><br><br>
    </div>
    <div class="zoom_controls">
        <button id="zoomIn">+</button>
        <span id="zoomValue">75%</span>
        <button id="zoomOut">-</button>
    </div>
    <div class="div_Layout">
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th class="column_title_end"></th>

            </thead>

            <tr alt="Dãy tạm 1">
                <td class="row_title FontUTM">
                    001 - 020
                </td>
                <td>
                    <div class="empty_Road" id="001"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="002"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="003"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="004"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="005"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="006"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="007"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="008"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="009"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="010"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="011"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="012"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="013"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="014"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="015"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="016"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="017"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="018"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="019"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="020"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 2">
                <td class="row_title FontUTM">
                    021 - 040
                </td>
                <td>
                    <div class="empty_Road" id="021"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="022"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="023"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="024"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="025"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="026"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="027"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="028"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="029"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="030"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="031"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="032"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="033"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="034"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="035"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="036"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="037"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="038"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="039"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="040"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 3">
                <td class="row_title FontUTM">
                    041 - 060
                </td>
                <td>
                    <div class="empty_Road" id="041"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="042"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="043"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="044"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="045"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="046"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="047"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="048"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="049"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="050"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="051"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="052"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="053"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="054"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="055"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="056"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="057"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="058"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="059"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="060"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 4">
                <td class="row_title FontUTM">
                    061 - 080
                </td>
                <td>
                    <div class="empty_Road" id="061"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="062"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="063"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="064"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="065"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="066"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="067"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="068"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="069"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="070"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="071"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="072"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="073"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="074"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="075"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="076"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="077"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="078"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="079"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="080"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 5">
                <td class="row_title FontUTM">
                    081 - 100
                </td>
                <td>
                    <div class="empty_Road" id="081"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="082"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="083"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="084"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="085"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="086"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="087"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="088"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="089"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="090"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="091"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="092"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="093"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="094"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="095"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="096"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="097"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="098"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="099"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="100"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>
            </tr>
            <tr alt="Dãy tạm 6">
                <td class="row_title FontUTM">
                    101 - 120
                </td>
                <td>
                    <div class="empty_Road" id="101"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="102"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="103"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="104"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="105"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="106"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="107"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="108"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="109"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="110"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="111"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="112"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="113"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="114"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="115"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="116"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="117"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="118"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="119"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="120"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>

            </tr>
            <tr alt="Dãy tạm 7">
                <td class="row_title FontUTM">
                    121 - 140
                </td>
                <td>
                    <div class="empty_Road" id="121"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="122"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="123"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="124"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="125"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="126"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="127"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="128"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="129"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="130"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="131"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="132"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="133"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="134"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="135"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="136"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="137"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="138"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="139"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div class="empty_Road" id="140"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td class="row_title">
                </td>

            </tr>
            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_03"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_04"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_05"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_06"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_08"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_09"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_10">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_11"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_12"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_13"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_15"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_16"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_17"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_18"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_19"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_20"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_21"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_22"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_23"></div>
                </td>



            </tr>
        </table>
    </div>
</div>