<div class="div_frame">
    <div class="div_row">
        <span class="sp_title">BÃI XE THÀNH PHẨM TRƯỜNG CAO ĐẲNG THACO - <span style="color: rgb(251, 255, 0);">CHỜ XUẤT ĐÓNG CONT</span></span></br>
        <span class="sp_title_description">(KIA & MAZDA)</span>
    </div>
    <div class="zoom_controls">
        <button id="zoomIn">+</button>
        <span id="zoomValue">75%</span>
        <button id="zoomOut">-</button>
    </div>
    <div class="div_Layout">
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
                <th>32</th>
                <th>33</th>
                <th>34</th>
                <th>35</th>
                <th>36</th>
                <th>37</th>
                <th>38</th>
                <th>39</th>
                <th>40</th>
                <th>41</th>
                <th>42</th>
                <th>43</th>
                <th>44</th>
                <th>45</th>
                <th>46</th>
                <th>47</th>
                <th>48</th>
                <th>49</th>
                <th>50</th>
                <th>51</th>
                <th>52</th>
                <th>53</th>
                <th>54</th>
                <th>55</th>
                <th>56</th>
                <th>57</th>
                <th>58</th>
                <th>59</th>
                <th>60</th>
                <th>61</th>
                <th>62</th>
                <th>63</th>
                <th>64</th>
                <th>65</th>
                <th>66</th>
                <th>67</th>
                <th>68</th>
                <th>69</th>
                <th>70</th>
                <th>71</th>
                <th>72</th>
                <th>73</th>
                <th>74</th>
                <th>75</th>
                <th>76</th>
                <th>77</th>
                <th>78</th>
                <th>79</th>
                <th>80</th>
                <th>81</th>
                <th>82</th>
                <th>83</th>
                <th>84</th>
                <th>85</th>
                <th>86</th>
                <th>87</th>
                <th>88</th>
                <th>89</th>
                <th>90</th>
                <th>91</th>
                <th>92</th>
                <th>93</th>
                <th>94</th>
                <th>95</th>
                <th>96</th>
                <th>97</th>
                <th>98</th>
                <th>99</th>
                <th>100</th>
                <th></th>

            </thead>
            <tr alt="Dãy A">
                <td class="row_title">A</td>
                <td><div id="001"></div></td>
                <td><div id="002"></div></td>
                <td><div id="003"></div></td>
                <td><div id="004"></div></td>
                <td><div id="005"></div></td>
                <td><div id="006"></div></td>
                <td><div id="007"></div></td>
                <td><div id="008"></div></td>
                <td><div id="009"></div></td>
                <td><div id="010"></div></td>
                <td><div id="011"></div></td>
                <td><div id="012"></div></td>
                <td><div id="013"></div></td>
                <td><div id="014"></div></td>
                <td><div id="015"></div></td>
                <td><div id="016"></div></td>
                <td><div id="017"></div></td>
                <td><div id="018"></div></td>
                <td><div id="019"></div></td>
                <td><div id="020"></div></td>
                <td><div id="021"></div></td>
                <td><div id="022"></div></td>
                <td><div id="023"></div></td>
                <td><div id="024"></div></td>
                <td><div id="025"></div></td>
                <td><div id="026"></div></td>
                <td><div id="027"></div></td>
                <td><div id="028"></div></td>
                <td><div id="029"></div></td>
                <td><div id="030"></div></td>
                <td><div id="031"></div></td>
                <td><div id="032"></div></td>
                <td><div id="033"></div></td>
                <td><div id="034"></div></td>
                <td><div id="035"></div></td>
                <td><div id="036"></div></td>
                <td><div id="037"></div></td>
                <td><div id="038"></div></td>
                <td><div id="039"></div></td>
                <td><div id="049"></div></td>
                <td><div id="041"></div></td>
                <td><div id="042"></div></td>
                <td><div id="043"></div></td>
                <td><div id="044"></div></td>
                <td><div id="045"></div></td>
                <td><div id="046"></div></td>
                <td><div id="047"></div></td>
                <td><div id="048"></div></td>
                <td><div id="049"></div></td>
                <td><div id="050"></div></td>
                <td><div id="051"></div></td>
                <td><div id="052"></div></td>
                <td><div id="053"></div></td>
                <td><div id="054"></div></td>
                <td><div id="055"></div></td>
                <td><div id="056"></div></td>
                <td><div id="057"></div></td>
                <td><div id="058"></div></td>
                <td><div id="059"></div></td>
                <td><div id="060"></div></td>
                <td><div id="061"></div></td>
                <td><div id="062"></div></td>
                <td><div id="063"></div></td>
                <td><div id="064"></div></td>
                <td><div id="065"></div></td>
                <td><div id="066"></div></td>
                <td><div id="067"></div></td>
                <td><div id="068"></div></td>
                <td><div id="069"></div></td>
                <td><div id="070"></div></td>
                <td><div id="071"></div></td>
                <td><div id="072"></div></td>
                <td><div id="073"></div></td>
                <td><div id="074"></div></td>
                <td><div id="075"></div></td>
                <td><div id="076"></div></td>
                <td><div id="077"></div></td>
                <td><div id="078"></div></td>
                <td><div id="079"></div></td>
                <td><div id="080"></div></td>
                <td><div id="081"></div></td>
                <td><div id="082"></div></td>
                <td><div id="083"></div></td>
                <td><div id="084"></div></td>
                <td><div id="085"></div></td>
                <td><div id="086"></div></td>
                <td><div id="087"></div></td>
                <td><div id="088"></div></td>
                <td><div id="089"></div></td>
                <td><div id="090"></div></td>
                <td><div id="091"></div></td>
                <td><div id="092"></div></td>
                <td><div id="093"></div></td>
                <td><div id="094"></div></td>
                <td><div id="095"></div></td>
                <td><div id="096"></div></td>
                <td><div id="097"></div></td>
                <td><div id="098"></div></td>
                <td><div id="099"></div></td>
                <td><div id="100"></div></td>
                <td class="row_title"><div></div></td>
            </tr>
            <tr alt="Lối đi">
                <td></td>
                <td><div alt="empty-001" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-002" class="empty_Road"></div></td>
                <td><div alt="empty-003" class="empty_Road"></div></td>
                <td><div alt="empty-004" class="empty_Road"></div></td>
                <td><div alt="empty-005" class="empty_Road"></div></td>
                <td><div alt="empty-006" class="empty_Road"></div></td>
                <td><div alt="empty-007" class="empty_Road"></div></td>
                <td><div alt="empty-008" class="empty_Road"></div></td>
                <td><div alt="empty-009" class="empty_Road"></div></td>
                <td><div alt="empty-010" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-011" class="empty_Road"></div></td>
                <td><div alt="empty-012" class="empty_Road"></div></td>
                <td><div alt="empty-013" class="empty_Road"></div></td>
                <td><div alt="empty-014" class="empty_Road"></div></td>
                <td><div alt="empty-015" class="empty_Road"></div></td>
                <td><div alt="empty-016" class="empty_Road"></div></td>
                <td><div alt="empty-017" class="empty_Road"></div></td>
                <td><div alt="empty-018" class="empty_Road"></div></td>
                <td><div alt="empty-019" class="empty_Road"></div></td>
                <td><div alt="empty-020" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-021" class="empty_Road"></div></td>
                <td><div alt="empty-022" class="empty_Road"></div></td>
                <td><div alt="empty-023" class="empty_Road"></div></td>
                <td><div alt="empty-024" class="empty_Road"></div></td>
                <td><div alt="empty-025" class="empty_Road"></div></td>
                <td><div alt="empty-026" class="empty_Road"></div></td>
                <td><div alt="empty-027" class="empty_Road"></div></td>
                <td><div alt="empty-028" class="empty_Road"></div></td>
                <td><div alt="empty-029" class="empty_Road"></div></td>
                <td><div alt="empty-030" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-031" class="empty_Road"></div></td>
                <td><div alt="empty-032" class="empty_Road"></div></td>
                <td><div alt="empty-033" class="empty_Road"></div></td>
                <td><div alt="empty-034" class="empty_Road"></div></td>
                <td><div alt="empty-035" class="empty_Road"></div></td>
                <td><div alt="empty-036" class="empty_Road"></div></td>
                <td><div alt="empty-037" class="empty_Road"></div></td>
                <td><div alt="empty-038" class="empty_Road"></div></td>
                <td><div alt="empty-039" class="empty_Road"></div></td>
                <td><div alt="empty-040" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-041" class="empty_Road"></div></td>
                <td><div alt="empty-042" class="empty_Road"></div></td>
                <td><div alt="empty-043" class="empty_Road"></div></td>
                <td><div alt="empty-044" class="empty_Road"></div></td>
                <td><div alt="empty-045" class="empty_Road"></div></td>
                <td><div alt="empty-046" class="empty_Road"></div></td>
                <td><div alt="empty-047" class="empty_Road"></div></td>
                <td><div alt="empty-048" class="empty_Road"></div></td>
                <td><div alt="empty-049" class="empty_Road"></div></td>
                <td><div alt="empty-050" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-051" class="empty_Road"></div></td>
                <td><div alt="empty-052" class="empty_Road"></div></td>
                <td><div alt="empty-053" class="empty_Road"></div></td>
                <td><div alt="empty-054" class="empty_Road"></div></td>
                <td><div alt="empty-055" class="empty_Road"></div></td>
                <td><div alt="empty-056" class="empty_Road"></div></td>
                <td><div alt="empty-057" class="empty_Road"></div></td>
                <td><div alt="empty-058" class="empty_Road"></div></td>
                <td><div alt="empty-059" class="empty_Road"></div></td>
                <td><div alt="empty-060" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-061" class="empty_Road"></div></td>
                <td><div alt="empty-062" class="empty_Road"></div></td>
                <td><div alt="empty-063" class="empty_Road"></div></td>
                <td><div alt="empty-064" class="empty_Road"></div></td>
                <td><div alt="empty-065" class="empty_Road"></div></td>
                <td><div alt="empty-066" class="empty_Road"></div></td>
                <td><div alt="empty-067" class="empty_Road"></div></td>
                <td><div alt="empty-068" class="empty_Road"></div></td>
                <td><div alt="empty-069" class="empty_Road"></div></td>
                <td><div alt="empty-070" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-071" class="empty_Road"></div></td>
                <td><div alt="empty-072" class="empty_Road"></div></td>
                <td><div alt="empty-073" class="empty_Road"></div></td>
                <td><div alt="empty-074" class="empty_Road"></div></td>
                <td><div alt="empty-075" class="empty_Road"></div></td>
                <td><div alt="empty-076" class="empty_Road"></div></td>
                <td><div alt="empty-077" class="empty_Road"></div></td>
                <td><div alt="empty-078" class="empty_Road"></div></td>
                <td><div alt="empty-079" class="empty_Road"></div></td>
                <td><div alt="empty-080" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-081" class="empty_Road"></div></td>
                <td><div alt="empty-082" class="empty_Road"></div></td>
                <td><div alt="empty-083" class="empty_Road"></div></td>
                <td><div alt="empty-084" class="empty_Road"></div></td>
                <td><div alt="empty-085" class="empty_Road"></div></td>
                <td><div alt="empty-086" class="empty_Road"></div></td>
                <td><div alt="empty-087" class="empty_Road"></div></td>
                <td><div alt="empty-088" class="empty_Road"></div></td>
                <td><div alt="empty-089" class="empty_Road"></div></td>
                <td><div alt="empty-090" class="empty_Road"><div class="arrow_goLeft"></div></div></td>
                <td><div alt="empty-091" class="empty_Road"></div></td>
                <td><div alt="empty-092" class="empty_Road"></div></td>
                <td><div alt="empty-093" class="empty_Road"></div></td>
                <td><div alt="empty-094" class="empty_Road"></div></td>
                <td><div alt="empty-095" class="empty_Road"></div></td>
                <td><div alt="empty-096" class="empty_Road"></div></td>
                <td><div alt="empty-097" class="empty_Road"></div></td>
                <td><div alt="empty-098" class="empty_Road"></div></td>
                <td><div alt="empty-099" class="empty_Road"></div></td>
                <td><div alt="empty-100" class="empty_Road"></div></td>
                <td><div alt="empty-101"><div class="arrow_goLeft"></div></div></td>
            </tr>
            <tr alt="Giới hạn cuối">
                <td class="row_title"></td>
                <td class="row_title"><div alt="empty-001" class="empty_Road"></div></td>
                <td class="row_title"><div alt="empty-002"></div></td>
                <td class="row_title"><div alt="empty-003"></div></td>
                <td class="row_title"><div alt="empty-004"></div></td>
                <td class="row_title"><div alt="empty-005"></div></td>
                <td class="row_title"><div alt="empty-006"></div></td>
                <td class="row_title"><div alt="empty-007"></div></td>
                <td class="row_title"><div alt="empty-008"></div></td>
                <td class="row_title"><div alt="empty-009"></div></td>
                <td class="row_title"><div alt="empty-010"></div></td>
                <td class="row_title"><div alt="empty-011"></div></td>
                <td class="row_title"><div alt="empty-012"></div></td>
                <td class="row_title"><div alt="empty-013"></div></td>
                <td class="row_title"><div alt="empty-014"></div></td>
                <td class="row_title"><div alt="empty-015"></div></td>
                <td class="row_title"><div alt="empty-016"></div></td>
                <td class="row_title"><div alt="empty-017"></div></td>
                <td class="row_title"><div alt="empty-018"></div></td>
                <td class="row_title"><div alt="empty-019"></div></td>
                <td class="row_title"><div alt="empty-020"></div></td>
                <td class="row_title"><div alt="empty-021"></div></td>
                <td class="row_title"><div alt="empty-022"></div></td>
                <td class="row_title"><div alt="empty-023"></div></td>
                <td class="row_title"><div alt="empty-024"></div></td>
                <td class="row_title"><div alt="empty-025"></div></td>
                <td class="row_title"><div alt="empty-026"></div></td>
                <td class="row_title"><div alt="empty-027"></div></td>
                <td class="row_title"><div alt="empty-028"></div></td>
                <td class="row_title"><div alt="empty-029"></div></td>
                <td class="row_title"><div alt="empty-030"></div></td>
                <td class="row_title"><div alt="empty-031"></div></td>
                <td class="row_title"><div alt="empty-032"></div></td>
                <td class="row_title"><div alt="empty-033"></div></td>
                <td class="row_title"><div alt="empty-034"></div></td>
                <td class="row_title"><div alt="empty-035"></div></td>
                <td class="row_title"><div alt="empty-036"></div></td>
                <td class="row_title"><div alt="empty-037"></div></td>
                <td class="row_title"><div alt="empty-038"></div></td>
                <td class="row_title"><div alt="empty-039"></div></td>
                <td class="row_title"><div alt="empty-049"></div></td>
                <td class="row_title"><div alt="empty-041"></div></td>
                <td class="row_title"><div alt="empty-042"></div></td>
                <td class="row_title"><div alt="empty-043"></div></td>
                <td class="row_title"><div alt="empty-044"></div></td>
                <td class="row_title"><div alt="empty-045"></div></td>
                <td class="row_title"><div alt="empty-046"></div></td>
                <td class="row_title"><div alt="empty-047"></div></td>
                <td class="row_title"><div alt="empty-048"></div></td>
                <td class="row_title"><div alt="empty-049"></div></td>
                <td class="row_title"><div alt="empty-050"></div></td>
                <td class="row_title"><div alt="empty-051"></div></td>
                <td class="row_title"><div alt="empty-052"></div></td>
                <td class="row_title"><div alt="empty-053"></div></td>
                <td class="row_title"><div alt="empty-054"></div></td>
                <td class="row_title"><div alt="empty-055"></div></td>
                <td class="row_title"><div alt="empty-056"></div></td>
                <td class="row_title"><div alt="empty-057"></div></td>
                <td class="row_title"><div alt="empty-058"></div></td>
                <td class="row_title"><div alt="empty-059"></div></td>
                <td class="row_title"><div alt="empty-060"></div></td>
                <td class="row_title"><div alt="empty-061"></div></td>
                <td class="row_title"><div alt="empty-062"></div></td>
                <td class="row_title"><div alt="empty-063"></div></td>
                <td class="row_title"><div alt="empty-064"></div></td>
                <td class="row_title"><div alt="empty-065"></div></td>
                <td class="row_title"><div alt="empty-066"></div></td>
                <td class="row_title"><div alt="empty-067"></div></td>
                <td class="row_title"><div alt="empty-068"></div></td>
                <td class="row_title"><div alt="empty-069"></div></td>
                <td class="row_title"><div alt="empty-070"></div></td>
                <td class="row_title"><div alt="empty-071"></div></td>
                <td class="row_title"><div alt="empty-072"></div></td>
                <td class="row_title"><div alt="empty-073"></div></td>
                <td class="row_title"><div alt="empty-074"></div></td>
                <td class="row_title"><div alt="empty-075"></div></td>
                <td class="row_title"><div alt="empty-076"></div></td>
                <td class="row_title"><div alt="empty-077"></div></td>
                <td class="row_title"><div alt="empty-078"></div></td>
                <td class="row_title"><div alt="empty-079"></div></td>
                <td class="row_title"><div alt="empty-080"></div></td>
                <td class="row_title"><div alt="empty-081"></div></td>
                <td class="row_title"><div alt="empty-082"></div></td>
                <td class="row_title"><div alt="empty-083"></div></td>
                <td class="row_title"><div alt="empty-084"></div></td>
                <td class="row_title"><div alt="empty-085"></div></td>
                <td class="row_title"><div alt="empty-086"></div></td>
                <td class="row_title"><div alt="empty-087"></div></td>
                <td class="row_title"><div alt="empty-088"></div></td>
                <td class="row_title"><div alt="empty-089"></div></td>
                <td class="row_title"><div alt="empty-090"></div></td>
                <td class="row_title"><div alt="empty-091"></div></td>
                <td class="row_title"><div alt="empty-092"></div></td>
                <td class="row_title"><div alt="empty-093"></div></td>
                <td class="row_title"><div alt="empty-094"></div></td>
                <td class="row_title"><div alt="empty-095"></div></td>
                <td class="row_title"><div alt="empty-096"></div></td>
                <td class="row_title"><div alt="empty-097"></div></td>
                <td class="row_title"><div alt="empty-098"></div></td>
                <td class="row_title"><div alt="empty-099"></div></td>
                <td class="row_title"><div alt="empty-100"></div></td>
                <td class="row_title"><div alt="empty-101"></div></td>
            </tr>
        </table>
    </div>
</div>