<div class="div_frame">
    <div class="div_row">
        <span class="sp_title">BÃI XE THÀNH PHẨM ......</span></br>
        <span class="sp_title_description">(.... & ....)</span>
    </div>
    <div class="zoom_controls">
        <button id="zoomIn">+</button>
        <span id="zoomValue">75%</span>
        <button id="zoomOut">-</button>
    </div>
    <div class="div_Layout">
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>

            </thead>
            <tr alt="Dãy A">
                <td class="row_title">
                    A
                </td>
                <td>
                    <div id="A-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="A-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>

            </tr>
            <tr alt="Lối đi">
                <td class="row_title">

                </td>
                <td>
                    <div class="empty_Road" id="Road01_01">
                        <div class="arrow_turnBack_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_03"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_04"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_05"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_06"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_08"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_09"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_10">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_11"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_12"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_13"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_15"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_16"></div>
                </td>

            </tr>
            <tr alt="Dãy B">
                <td class="row_title">
                    B
                </td>
                <td>
                    <div id="B-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="B-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>

            </tr>
            <tr alt="Dãy C">
                <td class="row_title">
                    C
                </td>
                <td>
                    <div id="C-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="C-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>
            <tr alt="Lối đi">
                <td class="row_title">

                </td>
                <td>
                    <div class="empty_Road" id="Road01_01">
                        <div class="arrow_turnBack_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_03"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_04"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_05"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_06"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_08"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_09"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_10">
                        <div class="arrow_2side_rotate-90"></div>
                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_11"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_12"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_13"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_15"></div>
                </td>

            </tr>
            <tr alt="Dãy D">
                <td class="row_title">
                    D
                </td>
                <td>
                    <div id="D-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="D-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>
            </tr>
            <tr alt="Dãy E">
                <td class="row_title">
                    E
                </td>
                <td>
                    <div id="E-01"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-02"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-03"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-04"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-05"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-06"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-07"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-08"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-09"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-10"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-11"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-12"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-13"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-14"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-15"><span class="tooltiptext">Tooltip text</span></div>
                </td>
                <td>
                    <div id="E-16"><span class="tooltiptext">Tooltip text</span></div>
                </td>

            </tr>

            <tr alt="Giới hạn cuối" class="row_title">
                <td></td>

                <td>
                    <div class="empty_Road" id="Road01_01">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_02"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_03"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_04"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_05"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_06"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_07"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_08"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_09"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_10">

                    </div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_11"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_12"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_13"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_14"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_15"></div>
                </td>
                <td>
                    <div class="empty_Road" id="Road01_16"></div>
                </td>

            </tr>
        </table>
    </div>
</div>