<div class="div_frame">
    <div class="div_row">
        <span class="sp_title">BÃI XE KHO CƠ KHI GIAO THÔNG 2 (BIÊN HÒA) - <span style="color: rgb(251, 255, 0);">MINI</Span></span></br>
        <span class="sp_title_description">(Mini)</span>
    </div>
    <div class="zoom_controls">
        <button id="zoomIn">+</button>
        <span id="zoomValue">75%</span>
        <button id="zoomOut">-</button>
    </div>
    <div class="div_Layout">
        <table cellspacing="0" cellpadding="0" style="width: 100%;">
            <thead class="column_title">
                <th class="column_title_dong_cot"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th class="column_title_end">20</th>

            </thead>

            <tr alt="A">
                <td class="row_title">
                    A
                </td>
                <td>
                    <div alt="A-01" id="A-01"></div>
                </td>
                <td>
                    <div alt="A-02" id="A-02"></div>
                </td>
                <td>
                    <div alt="A-03" id="A-03"></div>
                </td>
                <td>
                    <div alt="A-04" id="A-04"></div>
                </td>
                <td>
                    <div alt="A-05" id="A-05"></div>
                </td>
                <td>
                    <div alt="A-06" id="A-06"></div>
                </td>
                <td>
                    <div alt="A-07" id="A-07"></div>
                </td>
                <td>
                    <div alt="A-08" id="A-08"></div>
                </td>
                <td>
                    <div alt="A-09" id="A-09"></div>
                </td>
                <td>
                    <div alt="A-10" id="A-10"></div>
                </td>
                <td>
                    <div alt="A-11" id="A-11"></div>
                </td>
                <td>
                    <div alt="A-12" id="A-12"></div>
                </td>
                <td>
                    <div alt="A-13" id="A-13"></div>
                </td>
                <td>
                    <div alt="A-14" class="empty_Road"></div>
                </td>
                <td>
                    <div alt="A-15" class="empty_Road"></div>
                </td>
                <td>
                    <div alt="A-16" class="empty_Road"></div>
                </td>
                <td>
                    <div alt="D-17" class="empty_Road"><div class="textNoticeBlue X3 borderx5 Y2">CẦU NÂNG</div></div>
                </td>
                <td>
                    <div alt="D-18" class="empty_Road"></div>
                </td>
                <td>
                    <div alt="D-19" class="empty_Road"></div>
                </td>
                <td alt="A-21" class="row_title">
                </td>
            </tr>
            <tr alt="B">
                <td class="row_title">
                    B
                </td>
                <td>
                    <div alt="B-01" id="B-01"></div>
                </td>
                <td>
                    <div alt="B-02" id="B-02"></div>
                </td>
                <td>
                    <div alt="B-03" id="B-03"></div>
                </td>
                <td>
                    <div alt="B-04" id="B-04"></div>
                </td>
                <td>
                    <div alt="B-05" id="B-05"></div>
                </td>
                <td>
                    <div alt="B-06" id="B-06"></div>
                </td>
                <td>
                    <div alt="B-07" id="B-07"></div>
                </td>
                <td>
                    <div alt="B-08" id="B-08"></div>
                </td>
                <td>
                    <div alt="B-09" id="B-09"></div>
                </td>
                <td>
                    <div alt="B-10" id="B-10"></div>
                </td>
                <td>
                    <div alt="B-11" id="B-11"></div>
                </td>
                <td>
                    <div alt="B-12" id="B-12"></div>
                </td>
                <td>
                    <div alt="B-13" id="B-13"></div>
                </td>
                <td>
                    <div alt="B-14"></div>
                </td>
                <td>
                    <div alt="B-15"></div>
                </td>
                <td>
                    <div alt="B-16"></div>
                </td>
                <td>
                    <div alt="B-17"></div>
                </td>
                <td>
                    <div alt="B-18" Class="empty_Road"></div>
                </td>
                <td>
                    <div alt="B-19"></div>
                </td>
                <td alt="B-21" class="row_title">
                </td>
            </tr>
            
            <tr alt="Dãy trống">
                <td>
                    <div class="arrow_goLeft"></div>
                </td>
                <td>
                    <div alt="empty-01" id="empty-01"></div>
                </td>
                <td>
                    <div alt="empty-02" id="empty-02"></div>
                </td>
                <td>
                    <div alt="empty-03" id="empty-03"></div>
                </td>
                <td>
                    <div alt="empty-04" id="empty-04"></div>
                </td>
                <td>
                    <div alt="empty-05" id="empty-05"></div>
                </td>
                <td>
                    <div alt="empty-06" id="empty-06"></div>
                </td>
                <td>
                    <div alt="empty-07" id="empty-07"></div>
                </td>
                <td>
                    <div alt="empty-08" id="empty-08"></div>
                </td>
                <td>
                    <div alt="empty-09" id="empty-09"></div>
                </td>
                <td>
                    <div alt="empty-10" id="empty-10"><div class="arrow_goLeft"></div></div>
                </td>
                <td>
                    <div alt="empty-11"></div>
                </td>
                <td>
                    <div alt="empty-12"></div>
                </td>
                <td>
                    <div alt="empty-13"></div>
                </td>
                <td>
                    <div alt="empty-14"></div>
                </td>
                <td>
                    <div alt="empty-15"></div>
                </td>
                <td>
                    <div alt="empty-16"></div>
                </td>
                <td>
                    <div alt="empty-17"></div>
                </td>
                <td>
                    <div alt="empty-18"></div>
                </td>
                <td>
                    <div alt="empty-19"></div>
                </td>
                <td alt="empty-20" class="row_title"><div alt="empty-19"></div>
                </td>
            </tr>
            <tr alt="C">
                <td class="row_title">
                    C
                </td>
                <td>
                    <div alt="C-01" id="C-01"></div>
                </td>
                <td>
                    <div alt="C-02" id="C-02"></div>
                </td>
                <td>
                    <div alt="C-03" id="C-03"></div>
                </td>
                <td>
                    <div alt="C-04" id="C-04"></div>
                </td>
                <td>
                    <div alt="C-05" id="C-05"></div>
                </td>
                <td>
                    <div alt="C-06" id="C-06"></div>
                </td>
                <td>
                    <div alt="C-07" id="C-07"></div>
                </td>
                <td>
                    <div alt="C-08" id="C-08"></div>
                </td>
                <td>
                    <div alt="C-09" id="C-09"></div>
                </td>
                <td>
                    <div alt="C-10" id="C-10"></div>
                </td>
                <td>
                    <div alt="C-11" id="C-11"></div>
                </td>
                <td>
                    <div alt="C-12" id="C-12"></div>
                </td>
                <td>
                    <div alt="C-13"></div>
                </td>
                <td>
                    <div alt="C-14"></div>
                </td>
                <td>
                    <div alt="C-15"></div>
                </td>
                <td>
                    <div alt="C-16"></div>
                </td>
                <td>
                    <div alt="C-17"></div>
                </td>
                <td>
                    <div alt="C-18"></div>
                </td>
                <td>
                    <div alt="C-19"></div>
                </td>
                <td alt="C-21" class="row_title">
                </td>
            </tr>
            
            <tr alt="D">
                <td class="row_title">
                    D
                </td>
                <td>
                    <div alt="D-01" id="D-01"></div>
                </td>
                <td>
                    <div alt="D-02" id="D-02"></div>
                </td>
                <td>
                    <div alt="D-03" id="D-03"></div>
                </td>
                <td>
                    <div alt="D-04" id="D-04"></div>
                </td>
                <td>
                    <div alt="D-05" id="D-05"></div>
                </td>
                <td>
                    <div alt="D-06" id="D-06"></div>
                </td>
                <td>
                    <div alt="D-07" id="D-07"></div>
                </td>
                <td>
                    <div alt="D-08" id="D-08"></div>
                </td>
                <td>
                    <div alt="D-09" id="D-09"></div>
                </td>
                <td>
                    <div alt="D-10" id="D-10"></div>
                </td>
                <td>
                    <div alt="D-11" id="D-11"></div>
                </td>
                <td>
                    <div alt="D-12" id="D-12"></div>
                </td>
                <td>
                    <div alt="D-13"></div>
                </td>
                <td>
                    <div alt="D-14"></div>
                </td>
                <td>
                    <div alt="D-15"></div>
                </td>
                <td>
                    <div alt="D-16"></div>
                </td>
                <td>
                    <div alt="D-17"></div>
                </td>
                <td>
                    <div alt="D-18"></div>
                </td>
                <td>
                    <div alt="D-19"></div>
                </td>
                <td alt="D-25" class="row_title">
                </td>
            </tr>
            <tr alt="Dãy trống">
                <td>
                    <div class="arrow_goLeft"></div>
                </td>
                <td>
                    <div alt="empty-01"></div>
                </td>
                <td>
                    <div alt="empty-02"></div>
                </td>
                <td>
                    <div alt="empty-03"></div>
                </td>
                <td>
                    <div alt="empty-04"><div class="textNoticeBlue white X5">KV MINI (24 XE)</div></div>
                </td>
                <td>
                    <div alt="empty-05"></div>
                </td>
                <td>
                    <div alt="empty-06"></div>
                </td>
                <td>
                    <div alt="empty-07"></div>
                </td>
                <td>
                    <div alt="empty-08"></div>
                </td>
                <td>
                    <div alt="empty-09"></div>
                </td>
                <td>
                    <div alt="empty-10"><div class="arrow_goLeft"></div></div>
                </td>
                <td>
                    <div alt="empty-11"></div>
                </td>
                <td>
                    <div alt="empty-12"></div>
                </td>
                <td>
                    <div alt="empty-13"></div>
                </td>
                <td>
                    <div alt="empty-14"></div>
                </td>
                <td>
                    <div alt="empty-15"></div>
                </td>
                <td>
                    <div alt="empty-16"></div>
                </td>
                <td>
                    <div alt="empty-17"></div>
                </td>
                <td>
                    <div alt="empty-18"></div>
                </td>
                <td>
                    <div alt="empty-19"></div>
                </td>
                
                <td alt="empty-21" class="row_title">
                </td>
            </tr>
            <tr alt="Giới hạn cuối">
                <td class="row_title">
                    <div class="empty_Road"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-01"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-02"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-03"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-04"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-05"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-06"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-07"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-08"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-09"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-10"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-11"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-12"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-13"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-14"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-15"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-16"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-17"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-18"></div>
                </td>
                <td class="row_title">
                    <div alt="empty-19"></div>
                </td>
                <td alt="empty-21" class="row_title">
                </td>
            </tr>
        </table>
    </div>
</div>